include ../mixins/sub-menu.pug

header.header
    .container
        .row.align-items-center
            .col-2
                .inner-logo
                    a.d-flex.align-items-center.gap-2(href="/")
                        img(src=settingGeneral.logo, alt=settingGeneral.websiteName, height="40")
                        div= settingGeneral.websiteName
            .col-4 
                form(
                    action='/search'
                    method="GET"
                )
                    div(class="form-group d-flex mb-0")
                        input(
                            type="text"
                            placeholder="Type your key..."
                            class="form-control"
                            name="keyword"
                            value=keyword
                        )
                        button(
                            type="submit"
                            class="btn btn-primary"
                        ) Search
            .col-5
                .inner-menu
                    ul
                        li
                            a(href="/") Home
                        li(class="sub-menu")
                            -const pathProduct = "/products"
                            a(href=pathProduct) List products
                                +sub-menu(productCategory, pathProduct)
                        li
                            a(href="/cart") Cart (#{miniCart ? miniCart.totalQuantity : 0})
                        if (user)
                            li 
                                a(href="user/info") Hi, #{user.fullName}!
                            li
                                a(href="/chat") Chat
                            li
                                a(href="/user/logout") Logout
                            
                            

                        else 
                            li
                                a(href="/user/login") Login
                            li
                                a(href="/user/register") Register

                            