.row 
    .col-12 
        a(
            class="btn btn-primary m-1"
            href="/users/not-friend"
        ) List Users 
        a(
            class="btn btn-primary m-1"
            href="/users/friends"
        ) List Your Friends
        a(
            class="btn btn-primary m-1"
            href="/users/request"
        ) Friend request
        a(
            class="btn btn-primary m-1"
            href="/users/accept"
        ) Friend accept