extends ../../layouts/default.pug 
include ../../mixins/alert.pug
block main

    +alert-success(3000)
    +alert-failure(3000)
    h1(class="mb-4") Permissions 
    if (records)

        div(data-records=records)
        div(class="row")
            div(class="col-8")
            div(class="col-4 text-right")
                button(
                    type="submit", 
                    class="btn btn-primary mb-3"
                    button-submit
                ) Update

        table(
            class="table table-hover table-sm"
            table-permissions
        )
            thead
                tr
                    th Feature
                    each item in records
                        th(class="text-center") #{item.title}
            tbody
                tr(data-name="id")
                    td 
                    each item in records 
                        td(class="d-none")
                            input(type="text" value=item.id )
                tr
                    td(colspan="4")
                        b List roles on Products
                tr(data-name="products-category-view")
                    td View
                    each item in records 
                        td(class="text-center")
                            input(type="checkbox")

                tr(data-name="products-category-create")
                    td Create
                    each item in records 
                        td(class="text-center")
                            input(type="checkbox")

                tr(data-name="products-category-edit")
                    td Edit
                    each item in records 
                        td(class="text-center")
                            input(type="checkbox")

                tr(data-name="products-category-delete")
                    td Delete
                    each item in records 
                        td(class="text-center")
                            input(type="checkbox")

                //- Products

                tr
                    td(colspan="4")
                        b List products
                tr(data-name="products-view")
                    td View
                    each item in records 
                        td(class="text-center")
                            input(type="checkbox")

                tr(data-name="products-create")
                    td Create
                    each item in records 
                        td(class="text-center")
                            input(type="checkbox")

                tr(data-name="products-edit")
                    td Edit
                    each item in records 
                        td(class="text-center")
                            input(type="checkbox")

                tr(data-name="products-delete")
                    td Delete
                    each item in records 
                        td(class="text-center")
                            input(type="checkbox")

                //- Permissions

                tr
                    td(colspan="4")
                        b Group Roles
                tr(data-name="roles-view")
                    td View
                    each item in records 
                        td(class="text-center")
                            input(type="checkbox")

                tr(data-name="roles-create")
                    td Create
                    each item in records 
                        td(class="text-center")
                            input(type="checkbox")

                tr(data-name="roles-edit")
                    td Edit
                    each item in records 
                        td(class="text-center")
                            input(type="checkbox")

                tr(data-name="roles-delete")
                    td Delete
                    each item in records 
                        td(class="text-center")
                            input(type="checkbox")
                tr(data-name="roles-permissions")
                    td Role Permissions
                    each item in records 
                        td(class="text-center")
                            input(type="checkbox")
        
    else 
        tr 
            td(colspan="4" class="text-center") No permission groups have been created yet.
        div(class="col-4 text-right")
            a(
                href=`${prefixAdmin}/roles/create`, 
                class="btn btn-outline-success"
            ) + Add new

    form(
        id="form-change-permissions"
        method="POST"
        action=`${prefixAdmin}/roles/permissions?_method=PATCH`
        class="d-none"
    )

        div(class="form-group")
            input(
                type="text"
                class="form-control"
                name="permissions"
            )


    script(src="/admin/js/role.js")