.sider
    .inner-menu
        ul
            li
                a(href=`${prefixAdmin}/dashboard`) Dashboard
            if(role.permissions.includes("products-category-view"))
                li
                    a(href=`${prefixAdmin}/products-category`) Product Categories
            if(role.permissions.includes("products-view"))
                li
                    a(href=`${prefixAdmin}/products`) Products
            if(role.permissions.includes("roles-view"))
                li
                    a(href=`${prefixAdmin}/roles`) Group Roles
            if(role.permissions.includes("roles-permissions"))
                li
                    a(href=`${prefixAdmin}/roles/permissions`) Permissions
            if(role.permissions.includes("roles-permissions"))
                li
                    a(href=`${prefixAdmin}/accounts`) List Accounts